<%-include("header.ejs")%>

<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>


<form action="/" class="form" method="POST">
    <div class="container my-4 carousel" data-flickity='{ "cellAlign": "left", "wrapAround": true, "freeScroll": true, "prevNextButtons": false, "pageDots": false }'>
        <button class="carousel-cell" value="9" name="choice">Kahvalti</button>
        <button class="carousel-cell" value="8" name="choice">Tuzlu</button>
        <button class="carousel-cell" value="6" name="choice">Kruvasan</button>
        <button class="carousel-cell" value="10" name="choice">Sandİvİç</button>
        <button class="carousel-cell" value="1" name="choice">Tatlı</button>
        <button class="carousel-cell" value="2" name="choice">Pasta</button>
        <button class="carousel-cell" value="3" name="choice">Kek</button>
        <button class="carousel-cell" value="7" name="choice">Cheescake</button>
        <button class="carousel-cell" value="4" name="choice">Donut</button>
        <button class="carousel-cell" value="5" name="choice">Berliner</button>
        <button class="carousel-cell" value="12" name="choice">Kurabİye</button>
        <button class="carousel-cell" value="11" name="choice">İçecek</button>
</div>
</form>
    

<div class="container">
    
    <% category.forEach(category => { %>
            <h3 class="" style="color: #ddbbbb;"><%= category.category_name%></h3>
    <%}); %>

    <% products.forEach(product => { %>
        <div class="card card-outline-secondary my-3 p-3">
        <div class="card-content d-flex align-items-center ">
            <div class="col-6 py-3">
                <h5 class="card-title"><%= product.product_name%></h5>
                <p class="card-text"><%= product.product_description%></p>
                <p class="text-muted"><%= product.price%></p>
            </div>
            <div class="col-6">
                <img class="img-size" src="/img/zemu-swiss-bakery.jpg" alt="...">
            </div>
        </div>
    </div>
    <% }); %>
    
    
</div>


    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<%-include("footer.ejs")%>